<% provide(:title,'Contact Us') %>
<h1>Contact Us</h1>
	<p>
		You can contact us at: Please don't do that, I'm not actually doing up a contact page.
		Going at a standard procedure, contact "us" at <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> for any enquiries, suggestion or help that you may need.
	</p>